@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Poppins%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Barlow%3Aital%2Cwght%400%2C100%3B0%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-CbMHrWCW6: Poppins;
  --plasmic-token-title: var(--token-CbMHrWCW6);
}

.plasmic_default_styles {
  --mixin-Okdze9T14-UG_font-family: "Inter";
  --mixin-Okdze9T14-UG_font-size: 16px;
  --mixin-Okdze9T14-UG_font-weight: 400;
  --mixin-Okdze9T14-UG_font-style: normal;
  --mixin-Okdze9T14-UG_color: #535353;
  --mixin-Okdze9T14-UG_text-align: left;
  --mixin-Okdze9T14-UG_text-transform: none;
  --mixin-Okdze9T14-UG_line-height: 1.5;
  --mixin-Okdze9T14-UG_letter-spacing: normal;
  --mixin-Okdze9T14-UG_white-space: pre-wrap;
  --mixin-Okdze9T14-UG_user-select: text;
  --mixin-Okdze9T14-UG_text-decoration-line: none;
  --mixin-Okdze9T14-UG_text-overflow: clip;
  --mixin-qqI-wIEbslFz_color: #000000;
  --mixin-qqI-wIEbslFz_font-weight: 900;
  --mixin-qqI-wIEbslFz_font-size: 152px;
  --mixin-qqI-wIEbslFz_line-height: 1;
  --mixin-qqI-wIEbslFz_letter-spacing: -4px;
  --mixin-qqI-wIEbslFz_font-family: var(--token-CbMHrWCW6);
  --mixin-qqI-wIEbslFz_white-space: pre-wrap;
  --mixin-FkfO1QB22VXw_color: #000000;
  --mixin-FkfO1QB22VXw_font-size: 48px;
  --mixin-FkfO1QB22VXw_font-weight: 700;
  --mixin-FkfO1QB22VXw_letter-spacing: -1px;
  --mixin-FkfO1QB22VXw_line-height: 1.1;
  --mixin-FkfO1QB22VXw_white-space: pre-wrap;
  --mixin-qTTRHwgUBpJN_color: #0070f3;
  --mixin-qTTRHwgUBpJN_white-space: pre-wrap;
  --mixin-fJu2ub5H1kHJ_color: #000000;
  --mixin-fJu2ub5H1kHJ_font-size: 32px;
  --mixin-fJu2ub5H1kHJ_font-weight: 600;
  --mixin-fJu2ub5H1kHJ_letter-spacing: -0.8px;
  --mixin-fJu2ub5H1kHJ_line-height: 1.2;
  --mixin-fJu2ub5H1kHJ_white-space: pre-wrap;
  --mixin-5UhRxqNid-2e_color: #000000;
  --mixin-5UhRxqNid-2e_font-size: 25px;
  --mixin-5UhRxqNid-2e_font-weight: 300;
  --mixin-5UhRxqNid-2e_letter-spacing: -0.5px;
  --mixin-5UhRxqNid-2e_line-height: 1.3;
  --mixin-5UhRxqNid-2e_font-family: "Barlow";
  --mixin-5UhRxqNid-2e_white-space: pre-wrap;
  --mixin-CY4F0UwzqjNQ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-CY4F0UwzqjNQ_border-bottom-color: #dddddd;
  --mixin-CY4F0UwzqjNQ_border-bottom-style: solid;
  --mixin-CY4F0UwzqjNQ_border-bottom-width: 1px;
  --mixin-CY4F0UwzqjNQ_border-left-color: #dddddd;
  --mixin-CY4F0UwzqjNQ_border-left-style: solid;
  --mixin-CY4F0UwzqjNQ_border-left-width: 1px;
  --mixin-CY4F0UwzqjNQ_border-right-color: #dddddd;
  --mixin-CY4F0UwzqjNQ_border-right-style: solid;
  --mixin-CY4F0UwzqjNQ_border-right-width: 1px;
  --mixin-CY4F0UwzqjNQ_border-top-color: #dddddd;
  --mixin-CY4F0UwzqjNQ_border-top-style: solid;
  --mixin-CY4F0UwzqjNQ_border-top-width: 1px;
  --mixin-CY4F0UwzqjNQ_border-bottom-left-radius: 3px;
  --mixin-CY4F0UwzqjNQ_border-bottom-right-radius: 3px;
  --mixin-CY4F0UwzqjNQ_border-top-left-radius: 3px;
  --mixin-CY4F0UwzqjNQ_border-top-right-radius: 3px;
  --mixin-CY4F0UwzqjNQ_font-family: "Inconsolata";
  --mixin-CY4F0UwzqjNQ_padding-bottom: 1px;
  --mixin-CY4F0UwzqjNQ_padding-left: 4px;
  --mixin-CY4F0UwzqjNQ_padding-right: 4px;
  --mixin-CY4F0UwzqjNQ_padding-top: 1px;
  --mixin-CY4F0UwzqjNQ_white-space: pre-wrap;
  --mixin-kPSYu3iXob7x_border-left-color: #dddddd;
  --mixin-kPSYu3iXob7x_border-left-style: solid;
  --mixin-kPSYu3iXob7x_border-left-width: 3px;
  --mixin-kPSYu3iXob7x_color: #888888;
  --mixin-kPSYu3iXob7x_padding-left: 10px;
  --mixin-kPSYu3iXob7x_white-space: pre-wrap;
  --mixin-pedgiPJMIFgRA_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-pedgiPJMIFgRA_border-bottom-color: #dddddd;
  --mixin-pedgiPJMIFgRA_border-bottom-style: solid;
  --mixin-pedgiPJMIFgRA_border-bottom-width: 1px;
  --mixin-pedgiPJMIFgRA_border-left-color: #dddddd;
  --mixin-pedgiPJMIFgRA_border-left-style: solid;
  --mixin-pedgiPJMIFgRA_border-left-width: 1px;
  --mixin-pedgiPJMIFgRA_border-right-color: #dddddd;
  --mixin-pedgiPJMIFgRA_border-right-style: solid;
  --mixin-pedgiPJMIFgRA_border-right-width: 1px;
  --mixin-pedgiPJMIFgRA_border-top-color: #dddddd;
  --mixin-pedgiPJMIFgRA_border-top-style: solid;
  --mixin-pedgiPJMIFgRA_border-top-width: 1px;
  --mixin-pedgiPJMIFgRA_border-bottom-left-radius: 3px;
  --mixin-pedgiPJMIFgRA_border-bottom-right-radius: 3px;
  --mixin-pedgiPJMIFgRA_border-top-left-radius: 3px;
  --mixin-pedgiPJMIFgRA_border-top-right-radius: 3px;
  --mixin-pedgiPJMIFgRA_font-family: "Inconsolata";
  --mixin-pedgiPJMIFgRA_padding-bottom: 3px;
  --mixin-pedgiPJMIFgRA_padding-left: 6px;
  --mixin-pedgiPJMIFgRA_padding-right: 6px;
  --mixin-pedgiPJMIFgRA_padding-top: 3px;
  --mixin-pedgiPJMIFgRA_white-space: pre-wrap;
  --mixin-3yTcjwwlBmvoY_display: flex;
  --mixin-3yTcjwwlBmvoY_flex-direction: column;
  --mixin-3yTcjwwlBmvoY_align-items: stretch;
  --mixin-3yTcjwwlBmvoY_justify-content: flex-start;
  --mixin-3yTcjwwlBmvoY_list-style-position: outside;
  --mixin-3yTcjwwlBmvoY_padding-left: 40px;
  --mixin-3yTcjwwlBmvoY_position: relative;
  --mixin-3yTcjwwlBmvoY_list-style-type: disc;
  --mixin-3yTcjwwlBmvoY_white-space: pre-wrap;
  --mixin-Yi1UT90aAtFDr_display: flex;
  --mixin-Yi1UT90aAtFDr_flex-direction: column;
  --mixin-Yi1UT90aAtFDr_align-items: stretch;
  --mixin-Yi1UT90aAtFDr_justify-content: flex-start;
  --mixin-Yi1UT90aAtFDr_list-style-position: outside;
  --mixin-Yi1UT90aAtFDr_padding-left: 40px;
  --mixin-Yi1UT90aAtFDr_position: relative;
  --mixin-Yi1UT90aAtFDr_list-style-type: decimal;
  --mixin-Yi1UT90aAtFDr_white-space: pre-wrap;
  --mixin-yKVl7j8I42qNI_color: #000000;
  --mixin-yKVl7j8I42qNI_font-size: 20px;
  --mixin-yKVl7j8I42qNI_font-weight: 600;
  --mixin-yKVl7j8I42qNI_letter-spacing: -0.3px;
  --mixin-yKVl7j8I42qNI_line-height: 1.5;
  --mixin-yKVl7j8I42qNI_white-space: pre-wrap;
  --mixin-cD9t5b-RhTjyt_color: #000000;
  --mixin-cD9t5b-RhTjyt_font-size: 16px;
  --mixin-cD9t5b-RhTjyt_font-weight: 600;
  --mixin-cD9t5b-RhTjyt_line-height: 1.5;
  --mixin-cD9t5b-RhTjyt_white-space: pre-wrap;
  --mixin-rtxqDrj1jb_qW_color: #3291ff;
  --mixin-rtxqDrj1jb_qW_white-space: pre-wrap;
  --mixin-2ikJNQjqGGUYu_white-space: pre-wrap;
  --mixin-nQSVi7blWNyhJ_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-Okdze9T14-UG_font-family);
  font-size: var(--mixin-Okdze9T14-UG_font-size);
  font-weight: var(--mixin-Okdze9T14-UG_font-weight);
  font-style: var(--mixin-Okdze9T14-UG_font-style);
  color: var(--mixin-Okdze9T14-UG_color);
  text-align: var(--mixin-Okdze9T14-UG_text-align);
  text-transform: var(--mixin-Okdze9T14-UG_text-transform);
  line-height: var(--mixin-Okdze9T14-UG_line-height);
  letter-spacing: var(--mixin-Okdze9T14-UG_letter-spacing);
  white-space: var(--mixin-Okdze9T14-UG_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-qqI-wIEbslFz_color);
  font-weight: var(--mixin-qqI-wIEbslFz_font-weight);
  font-size: var(--mixin-qqI-wIEbslFz_font-size);
  line-height: var(--mixin-qqI-wIEbslFz_line-height);
  letter-spacing: var(--mixin-qqI-wIEbslFz_letter-spacing);
  font-family: var(--mixin-qqI-wIEbslFz_font-family);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-FkfO1QB22VXw_color);
  font-size: var(--mixin-FkfO1QB22VXw_font-size);
  font-weight: var(--mixin-FkfO1QB22VXw_font-weight);
  letter-spacing: var(--mixin-FkfO1QB22VXw_letter-spacing);
  line-height: var(--mixin-FkfO1QB22VXw_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-qTTRHwgUBpJN_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-fJu2ub5H1kHJ_color);
  font-size: var(--mixin-fJu2ub5H1kHJ_font-size);
  font-weight: var(--mixin-fJu2ub5H1kHJ_font-weight);
  letter-spacing: var(--mixin-fJu2ub5H1kHJ_letter-spacing);
  line-height: var(--mixin-fJu2ub5H1kHJ_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-5UhRxqNid-2e_color);
  font-size: var(--mixin-5UhRxqNid-2e_font-size);
  font-weight: var(--mixin-5UhRxqNid-2e_font-weight);
  letter-spacing: var(--mixin-5UhRxqNid-2e_letter-spacing);
  line-height: var(--mixin-5UhRxqNid-2e_line-height);
  font-family: var(--mixin-5UhRxqNid-2e_font-family);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-CY4F0UwzqjNQ_background);
  font-family: var(--mixin-CY4F0UwzqjNQ_font-family);
  border-radius: var(--mixin-CY4F0UwzqjNQ_border-top-left-radius)
    var(--mixin-CY4F0UwzqjNQ_border-top-right-radius)
    var(--mixin-CY4F0UwzqjNQ_border-bottom-right-radius)
    var(--mixin-CY4F0UwzqjNQ_border-bottom-left-radius);
  padding: var(--mixin-CY4F0UwzqjNQ_padding-top)
    var(--mixin-CY4F0UwzqjNQ_padding-right)
    var(--mixin-CY4F0UwzqjNQ_padding-bottom)
    var(--mixin-CY4F0UwzqjNQ_padding-left);
  border-top: var(--mixin-CY4F0UwzqjNQ_border-top-width)
    var(--mixin-CY4F0UwzqjNQ_border-top-style)
    var(--mixin-CY4F0UwzqjNQ_border-top-color);
  border-right: var(--mixin-CY4F0UwzqjNQ_border-right-width)
    var(--mixin-CY4F0UwzqjNQ_border-right-style)
    var(--mixin-CY4F0UwzqjNQ_border-right-color);
  border-bottom: var(--mixin-CY4F0UwzqjNQ_border-bottom-width)
    var(--mixin-CY4F0UwzqjNQ_border-bottom-style)
    var(--mixin-CY4F0UwzqjNQ_border-bottom-color);
  border-left: var(--mixin-CY4F0UwzqjNQ_border-left-width)
    var(--mixin-CY4F0UwzqjNQ_border-left-style)
    var(--mixin-CY4F0UwzqjNQ_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-kPSYu3iXob7x_color);
  padding-left: var(--mixin-kPSYu3iXob7x_padding-left);
  border-left: var(--mixin-kPSYu3iXob7x_border-left-width)
    var(--mixin-kPSYu3iXob7x_border-left-style)
    var(--mixin-kPSYu3iXob7x_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-pedgiPJMIFgRA_background);
  font-family: var(--mixin-pedgiPJMIFgRA_font-family);
  border-radius: var(--mixin-pedgiPJMIFgRA_border-top-left-radius)
    var(--mixin-pedgiPJMIFgRA_border-top-right-radius)
    var(--mixin-pedgiPJMIFgRA_border-bottom-right-radius)
    var(--mixin-pedgiPJMIFgRA_border-bottom-left-radius);
  padding: var(--mixin-pedgiPJMIFgRA_padding-top)
    var(--mixin-pedgiPJMIFgRA_padding-right)
    var(--mixin-pedgiPJMIFgRA_padding-bottom)
    var(--mixin-pedgiPJMIFgRA_padding-left);
  border-top: var(--mixin-pedgiPJMIFgRA_border-top-width)
    var(--mixin-pedgiPJMIFgRA_border-top-style)
    var(--mixin-pedgiPJMIFgRA_border-top-color);
  border-right: var(--mixin-pedgiPJMIFgRA_border-right-width)
    var(--mixin-pedgiPJMIFgRA_border-right-style)
    var(--mixin-pedgiPJMIFgRA_border-right-color);
  border-bottom: var(--mixin-pedgiPJMIFgRA_border-bottom-width)
    var(--mixin-pedgiPJMIFgRA_border-bottom-style)
    var(--mixin-pedgiPJMIFgRA_border-bottom-color);
  border-left: var(--mixin-pedgiPJMIFgRA_border-left-width)
    var(--mixin-pedgiPJMIFgRA_border-left-style)
    var(--mixin-pedgiPJMIFgRA_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-3yTcjwwlBmvoY_display);
  flex-direction: var(--mixin-3yTcjwwlBmvoY_flex-direction);
  align-items: var(--mixin-3yTcjwwlBmvoY_align-items);
  justify-content: var(--mixin-3yTcjwwlBmvoY_justify-content);
  list-style-position: var(--mixin-3yTcjwwlBmvoY_list-style-position);
  padding-left: var(--mixin-3yTcjwwlBmvoY_padding-left);
  position: var(--mixin-3yTcjwwlBmvoY_position);
  list-style-type: var(--mixin-3yTcjwwlBmvoY_list-style-type);
  flex-column-gap: var(--mixin-3yTcjwwlBmvoY_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-Yi1UT90aAtFDr_display);
  flex-direction: var(--mixin-Yi1UT90aAtFDr_flex-direction);
  align-items: var(--mixin-Yi1UT90aAtFDr_align-items);
  justify-content: var(--mixin-Yi1UT90aAtFDr_justify-content);
  list-style-position: var(--mixin-Yi1UT90aAtFDr_list-style-position);
  padding-left: var(--mixin-Yi1UT90aAtFDr_padding-left);
  position: var(--mixin-Yi1UT90aAtFDr_position);
  list-style-type: var(--mixin-Yi1UT90aAtFDr_list-style-type);
  flex-column-gap: var(--mixin-Yi1UT90aAtFDr_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-yKVl7j8I42qNI_color);
  font-size: var(--mixin-yKVl7j8I42qNI_font-size);
  font-weight: var(--mixin-yKVl7j8I42qNI_font-weight);
  letter-spacing: var(--mixin-yKVl7j8I42qNI_letter-spacing);
  line-height: var(--mixin-yKVl7j8I42qNI_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-cD9t5b-RhTjyt_color);
  font-size: var(--mixin-cD9t5b-RhTjyt_font-size);
  font-weight: var(--mixin-cD9t5b-RhTjyt_font-weight);
  line-height: var(--mixin-cD9t5b-RhTjyt_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-rtxqDrj1jb_qW_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
